<div class="inventory-filters spellbook-filters">
  <div class="flexrow spellcasting-misc">
    <a class="hide-show" style="flex-grow: 0.05" data-for="spellbook-info_{{spellbookIndex}}">
      <i class="fas fa-cogs"></i>
    </a>

    <div class="spellcasting-concentration flexrow">
      <div class="rollable image-d20"></div>
      <label class="tooltip">
        <h3>{{localize "PF1.Concentration"}} <a class="note-editor small" for="system.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationNotes" title="{{localize "PF1.ConcentrationNotes"}}"><i class="fas fa-edit"></i></a></h3>
        <span class="tooltipcontent">
          {{localize "PF1AS.Roll"}}: 1d20 + {{spellbook.orig.concentration.total}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
          {{localize "PF1AS.CasterLevel"}}: {{spellbook.orig.cl.total}}<br />
          {{localize "PF1.Ability"}}: {{#with (lookup system.abilities spellbook.orig.ability)}}{{mod}}{{/with}}<br />
          {{#if spellbook.orig.concentrationNotes}}
            <br />{{localize "PF1.Notes"}}:<br />
            {{{replaceNewLines spellbook.orig.concentrationNotes}}}
          {{/if}}
        </span>
      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationFormula" value="{{spellbook.orig.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>

    <div class="spellcasting-cl flexrow">
      <div class="rollable image-d20"></div>
      <label class="tooltip">
        <h3>{{localize "PF1.CasterLevel"}} <a class="note-editor small" for="system.attributes.spells.spellbooks.{{spellbookIndex}}.clNotes" title="{{localize "PF1.CasterLevelNotes"}}"><i class="fas fa-edit"></i></a></h3>
        <span class="tooltipcontent">
          {{localize "PF1AS.Roll"}}: 1d20 + {{spellbook.orig.cl.total}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
          {{localize "PF1AS.CasterLevel"}}: {{spellbook.orig.cl.total}}<br />
          {{#if spellbook.orig.clNotes}}
            <br />{{localize "PF1.Notes"}}:<br />
            {{{replaceNewLines spellbook.orig.clNotes}}}
          {{/if}}
        </span>
      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.cl.formula" value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>
  </div>

  <div class="hide spellbook-info_{{spellbookIndex}} {{#if (lookup hiddenElems (concat "spellbook-info_" spellbookIndex))}}hidden{{/if}}">
    <div class="flexrow spellbook-info-box">
      <div class="flexcol">
        <div class="form-group spellcasting-class tooltip">
          <div class="tooltipcontent">
            @cl : {{spellbook.orig.cl.total}}<br />
            @spells.{{spellbookIndex}}.cl.total : {{spellbook.orig.cl.total}}

            {{#with (lookup sourceDetails.system.attributes.spells.spellbooks spellbookIndex)}}
              {{#if cl.total.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each cl.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            {{/with}}
          </div>
          <label><h3>{{localize "PF1.SpellcastingClass"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{spellbookIndex}}.class" data-dtype="String">
            {{#select spellbook.orig.class}}
              <option value="">{{localize "PF1.None"}}</option>
              <option value="_hd">{{localize "PF1.HitDie"}}</option>
              {{#each @root.classes as |cls|}}
                <option value="{{cls.tag}}">{{cls.name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="form-group spellcasting-ability">
          <label><h3>{{localize "PF1.SpellcastingAbility"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{spellbookIndex}}.ability" data-dtype="String">
            {{#select spellbook.orig.ability}}
              <option value="">{{localize "PF1.None"}}</option>
              {{#each @root.system.abilities as |abl a|}}
                <option value="{{a}}">{{abl.label}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow spell-failure">
          <label><h3>{{localize "PF1.ArcaneSpellFailure"}}</h3></label>
          <span>{{spellFailure}} %</span>
        </div>

        <div class="flexrow formulas">
          <label><h3>{{localize "PF1.BaseDCFormula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.baseDCFormula"
          value="{{spellbook.orig.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>

        <div class="flexrow spell-slot-ability-bonus">
          <label><h3>{{localize "PF1.SpellSlotAbilityBonus"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellSlotAbilityBonusFormula" value="{{spellbook.orig.spellSlotAbilityBonusFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>

        <div class="flexrow alt-name">
          <label><h3>{{localize "PF1.SpellbookName"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.name"
            value="{{spellbook.orig.name}}" placeholder="{{#if (and spellbook.orig.class (ne spellbook.orig.class "_hd"))}}
            {{~#with (lookup @root.system.classes spellbook.orig.class)}}{{name}}{{/with}}
            {{~else}}{{localize spellbook.orig.label}}{{/if}}" />
        </div>

        <div class="flexrow domain-slot-value">
          <label><h3>{{localize "PF1.DomainSlotValue"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.domainSlotValue"
            value="{{spellbook.orig.domainSlotValue}}" title="{{localize "PF1.DomainSlotValueDesc"}}" placeholder="0" data-dtype="Number" />
        </div>

        {{#if spellbook.orig.spellPoints.useSystem}}
          <div class="flexrow spell-points">
            <h3>{{localize "PF1.SpellPoints"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.maxFormula" value="{{spellbook.orig.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" title="{{localize "PF1.MaxFormula"}}"/>
          </div>
          <div class="flexrow spell-points-rest">
            <h3>└ {{localize "PF1.RestoredOnRest"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.restoreFormula" value="{{spellbook.orig.spellPoints.restoreFormula}}" placeholder="{{localize "PF1.SpellPointsMax"}}" title="{{localize "PF1.Formula"}}"/>
          </div>
        {{/if}}

        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="help-text">
        <i class="help-icon fas fa-info-circle"></i> {{localize "PF1.AutoSpellClassLevelOffset.InfoBox"}}
        </div>
        <div class="flexrow">
          <label><h3>{{localize "PF1.AutoSpellClassLevelOffset.Formula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.cl.autoSpellLevelCalculationFormula" value="{{spellbook.orig.cl.autoSpellLevelCalculationFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>
        {{/if}}
      </div>

      <div class="flexcol caster-preferences">
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.arcaneSpellFailure"
          {{checked spellbook.orig.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.autoSpellLevelCalculation"
          {{checked spellbook.orig.autoSpellLevelCalculation}}/> {{localize "PF1.AutoCalculateSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.psychic"
          {{checked spellbook.orig.psychic}}/> {{localize "PF1.Psychic"}}
        </label>
        {{#unless spellbook.orig.autoSpellLevelCalculation}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spontaneous"
          {{checked spellbook.orig.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.autoSpellLevels"
          {{checked spellbook.orig.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.useSystem"
          {{checked spellbook.orig.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
        {{/unless}}
        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.hasCantrips"
          {{checked spellbook.orig.hasCantrips}}/> {{localize "PF1.HasCantrips"}}
        </label>
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPreparationMode" value="prepared" {{checked (eq spellbook.orig.spellPreparationMode "prepared")}} />
            {{localize "PF1.SpellPrepPrepared"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPreparationMode" value="spontaneous" {{checked (eq spellbook.orig.spellPreparationMode "spontaneous")}} />
            {{localize "PF1.SpellPrepSpontaneous"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPreparationMode" value="hybrid" {{checked (eq spellbook.orig.spellPreparationMode "hybrid")}} />
            {{localize "PF1.Arcanist"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPreparationMode" value="prestige" {{checked (eq spellbook.orig.spellPreparationMode "prestige")}} />
            {{localize "PF1.RedMantisAssassin"}}
          </label>
        </div>
        {{#unless (or (eq spellbook.orig.spellPreparationMode "hybrid") (eq spellbook.orig.spellPreparationMode "prestige"))}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.casterType" value="low" {{checked (eq spellbook.orig.casterType "low")}} />
            {{localize "PF1.Low"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.casterType" value="med" {{checked (eq spellbook.orig.casterType "med")}} />
            {{localize "PF1.Medium"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.casterType" value="high" {{checked (eq spellbook.orig.casterType "high")}} />
            {{localize "PF1.High"}}
          </label>
        </div>
        {{/unless}}
        {{/if}}
      </div>
    </div>
    <div class="flexrow">
      {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="flexcol spell-slots-per-level">
          <label><h3>{{localize "PF1.All"}}</h3></label>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.preparedAllOffsetFormula" value="{{spellbook.orig.preparedAllOffsetFormula}}" placeholder="{{localize "PF1.PreparePerDay"}}" />
            {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.castPerDayAllOffsetFormula" value="{{spellbook.orig.castPerDayAllOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
            {{/unless}}
          </div>
        </div>
        {{#if spellbook.orig.hasCantrips}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level0"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell0.preparedOffsetFormula" value="{{spellbook.orig.spells.spell0.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell0.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell0.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level1"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell1.preparedOffsetFormula" value="{{spellbook.orig.spells.spell1.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell1.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell1.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level2"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell2.preparedOffsetFormula" value="{{spellbook.orig.spells.spell2.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell2.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell2.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level3"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell3.preparedOffsetFormula" value="{{spellbook.orig.spells.spell3.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell3.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell3.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level4"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell4.preparedOffsetFormula" value="{{spellbook.orig.spells.spell4.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell4.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell4.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{#if (or (eq spellbook.orig.casterType "med") (eq spellbook.orig.casterType "high"))}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level5"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell5.preparedOffsetFormula" value="{{spellbook.orig.spells.spell5.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell5.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell5.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level6"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell6.preparedOffsetFormula" value="{{spellbook.orig.spells.spell6.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell6.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell6.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        {{#if (eq spellbook.orig.casterType "high")}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level7"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell7.preparedOffsetFormula" value="{{spellbook.orig.spells.spell7.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell7.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell7.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level8"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell8.preparedOffsetFormula" value="{{spellbook.orig.spells.spell8.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell8.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell8.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level9"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell9.preparedOffsetFormula" value="{{spellbook.orig.spells.spell9.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.orig.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spells.spell9.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell9.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
      {{else}}
        {{#each spellbook.data as |section sid|}}
          <div class="flexcol spell-slots-per-level">
            <label>{{localize (lookup (concat "PF1AS.Level" section.level) "string")}}</label>
            <span class="text-box" data-dtype="Number" name="system.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.base">
            {{#if (hasBaseSpellSlots ../spellbook section.level)}}
              {{section.baseSlots}}
            {{else}}
              -
            {{/if}}
            </span>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="flexrow spell-range">
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistClose"}}</label>
      <span>{{spellbook.orig.range.close}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        @spells.{{spellbookIndex}}.range.close : {{spellbook.orig.range.close}}
      </div>
    </div>
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistMedium"}}</label>
      <span>{{spellbook.orig.range.medium}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        @spells.{{spellbookIndex}}.range.medium : {{spellbook.orig.range.medium}}
      </div>
    </div>
    <div class="flexrow tooltip">
      <label>{{localize "PF1.DistLong"}}</label>
      <span>{{spellbook.orig.range.long}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
      <div class="tooltipcontent">
        @spells.{{spellbookIndex}}.range.long : {{spellbook.orig.range.long}}
      </div>
    </div>
  </div>
</div>

{{!-- Inventory Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category=(concat "spells-" spellbookIndex)}}
  <ul class="filter-list flexrow" data-filter="spellbook-{{spellbookIndex}}">
    {{#each spellbook.data as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<div class="spell-points-current flexrow">
  {{#if spellbook.orig.spellPoints.useSystem}}
    <h3>{{localize "PF1.SpellPoints"}}</h3>
    <div class="tooltip value">
      <span class="tooltipcontent">
        {{localize "PF1.SpellPointsCurrent"}}<br/><br/>

        @spells.{{spellbookIndex}}.spellPoints.value : {{spellbook.orig.spellPoints.value}}
      </span>
      <input type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.value"
      value="{{spellbook.orig.spellPoints.value}}" placeholder="0" data-dtype="Number" />
    </div>
    <span class="sep"> / </span>
    <div class="tooltip max">
      <span class="tooltipcontent">
        {{localize "PF1.SpellPointsMax"}}<br/><br/>

        @spells.{{spellbookIndex}}.spellPoints.max : {{spellbook.orig.spellPoints.max}}
      </span>
      <input disabled type="text" name="system.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.max"
      value="{{spellbook.orig.spellPoints.max}}" placeholder="0" data-dtype="Number" />
    </div>
  {{/if}}
</div>

<section class="spells_{{spellbookIndex}}-body">
  {{#each spellbook.data as |section sid|}}
    {{#unless section._hidden}}
      <div class="inventory-group flexcol">
        <ol class="inventory-list">
          <li class="flexrow inventory-header spellbook-header">
            <div class="item-name flexrow">
              <h3>{{section.name}}</h3>
              {{#unless section.canCast.value }}
              <span style="flex: 0 0 25px" class="tooltip">
                <div class="tooltipcontent">
                  {{localize "PF1AS.Spells.CannotCast"}}
                  {{#if section.canCast.cannotCastAblScore }}
                    <br />{{localize "PF1AS.Spells.CannotCastAbilityScore"}}
                  {{/if}}
                </div>
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              {{/unless}}
              <span style="flex: 0 0 25px" class="tooltip">
                <div class="tooltipcontent">
                  {{localize "PF1AS.Spells.NeededConcentration"}} (+{{../spellbook.orig.concentration.total}}):<br />
                  {{localize "PF1AS.Spells.Defensive"}}: {{neededConcentrationDefensive .. section}}<br />
                  {{localize "PF1.CondEntangled"}}: {{neededConcentrationEntangled .. section}}<br />
                  {{localize "PF1AS.Spells.VigorousMotion"}}: {{neededConcentrationVigorousMotion .. section}}<br />
                  {{localize "PF1AS.Spells.ViolentMotion"}}: {{neededConcentrationViolentMotion .. section}}<br />
                  {{localize "PF1AS.Spells.ExtremeMotion"}}: {{neededConcentrationExtremeMotion .. section}}<br />
                  {{localize "PF1AS.Spells.ViolentWeather1"}}: {{neededConcentrationViolentWeather1 .. section}}<br />
                  {{localize "PF1AS.Spells.ViolentWeather2"}}: {{neededConcentrationViolentWeather2 .. section}}<br />
                </div>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </span>
            </div>

            {{#unless ../spellbook.orig.spellPoints.useSystem}}
              <div class="item-detail spell-uses">
                {{#if section.usesSlots}}
                  {{#unless (and (eq section.level 0) ../spellbook.orig.autoSpellLevelCalculation)}}
                  <div class="tooltip spell-slots{{#if ../spellbook.orig.spontaneous}} spontaneous{{/if}}">
                    <span class="{{#unless ../spellbook.orig.spontaneous}}spell-input-readonly{{else}}text-box{{/unless}}" data-dtype="Number" {{#if ../spellbook.orig.spontaneous}}name="system.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.value"{{/if}}>
                      {{section.uses}}
                    </span>
                    <span class="tooltipcontent">
                      {{#unless ../spellbook.orig.spontaneous}}
                        {{localize "PF1.LeftToPrepare"}}
                      {{else}}
                        {{localize "PF1.CastsLeft"}}
                      {{/unless}}
                    </span>
                  </div>
                  <span class="sep"> / </span>
                  {{/unless}}
                  <div class="tooltip spell-max">
                    <span>{{section.slots}}</span>
                    <span class="tooltipcontent">
                      {{localize "PF1.SpellsTotalEachDay"}}
                    </span>
                  </div>
                {{ else }}
                  <span class="spell-slots">{{{section.uses}}}</span>
                  <span class="sep"> / </span>
                  <span class="spell-max">{{{section.slots}}}</span>
                {{/if}}
              </div>
            {{/unless}}

            <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

            <div class="item-detail spell-activation"><i class="icon icon-hand large" title="{{localize "PF1.Usage"}}"></i></div>

            <div class="item-detail spell-components"><i class="icon icon-expense large" title="{{localize "PF1.Components"}}"></i></div>

            <div class="item-detail spell-school"><i class="icon icon-spell-book large" title="{{localize "PF1.SpellSchool"}}"></i></div>

            <div class="item-controls">
              {{#if section.canCreate}}
                <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus"></i>
                </a>
              {{/if}}
              <a data-action="compendium" data-action-target="spells" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
            </div>
          </li>

          <ol class="item-list">
            {{#each section.items as |item i|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <h4>{{item.name}}</h4>
                </div>

                {{#unless ../../spellbook.orig.spellPoints.useSystem}}
                  <div class="item-detail spell-uses flexrow">
                    {{#unless item.atWill}}
                      {{!-- Domain Marker --}}
                      <div>
                        {{#if item.domain}}
                        <i class="fas fa-hand-sparkles" title="{{localize "PF1.Domain"}}/{{localize "PF1.School"}}"></i>
                        {{/if}}
                      </div>

                      {{#unless ../../spellbook.orig.spontaneous}}
                        <div class="tooltip">
                          <span class="tooltipcontent">
                            {{localize "PF1.Prepared"}}
                          </span>
                          <span class="text-box" data-type="amount" data-dtype="Number">{{item.preparation.preparedAmount}}</span>
                        </div>
                        <span class="sep"> / </span>
                        <div class="tooltip">
                          <span class="tooltipcontent">
                            {{localize "PF1.InitiallyPrepared"}}
                          </span>
                          <span class="text-box" data-type="max" data-dtype="Number">{{item.preparation.maxAmount}}</span>
                        </div>
                      {{else}}
                        <a class="item-control item-toggle-data {{#if item.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="system.preparation.spontaneousPrepared"
                          title="{{#if item.preparation.spontaneousPrepared}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
                          <i class="{{#if item.preparation.spontaneousPrepared}}fa-solid{{else}}fa-light{{/if}} fa-circle-check"></i>
                        </a>
                      {{/unless}}
                    {{else}}
                      {{localize "PF1.SpellPrepAtWill"}}
                    {{/unless}}
                  </div>
                {{/unless}}

                <div class="item-detail item-actions">
                  <div class="item-attack tooltip">
                    {{#if ../../spellbook.orig.spontaneous}}
                      <span class="tooltipcontent">
                        {{localize "PF1.UseSpell"}}
                      </span>
                      <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                    {{else}}
                      {{#if item.atWill}}
                        <span class="tooltipcontent">
                          {{localize "PF1.UseSpell"}}
                        </span>
                        <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                      {{else}}
                        {{#if (isPositive item.preparation.preparedAmount)}}
                          <span class="tooltipcontent">
                            {{localize "PF1.UseSpell"}}
                          </span>
                          <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                        {{else}}
                          {{#if (isPositive item.preparation.maxAmount)}}
                            <span class="tooltipcontent">
                              {{localize "PF1AS.Spells.NoSpellsLeft"}}
                            </span>
                            <img class="icon-spell-no-charges icon" src="systems/pf1/icons/actions/gladius.svg"></img>
                          {{/if}}
                        {{/if}}
                      {{/if}} <!-- at will -->
                    {{/if}} <!-- spontaneous -->
                  </div>
                </div>

                <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>

                <div class="item-detail spell-components"><span>{{labels.components}}</span></div>

                <div class="item-detail spell-school"><span>{{labels.school}}</span></div>

                {{#if ../../owner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                  </div>
                {{/if}}
              </li>
            {{/each}}
          </ol>
        </ol>
      </div>
    {{/unless}}
  {{/each}}
</section>
